/* Consistent with content pages*/
:root{
    --background: #2D3319;
    --primary_one: #517664;
    --primary_two: #9FD8CB;
    --neutral_one: #D6E5E3;
    --neutral_two: #CACFD6;
    --total_black: #000000;
}

@keyframes fade {
    0% {opacity: 0%; translate: 0 100px;}
    100% {opacity: 100%; translate: 0 0;}
}

@-webkit-keyframes fade {
    0% {opacity: 50%;}
    100% {opacity: 100%;}
}


* {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--primary_one);
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: var(--neutral_two);
}

.title {
    font-size: 2.5em;
    color: var(--neutral_two);

    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: var(--neutral_two);
    opacity: 50%;
}

a:hover {
    opacity: 100%;
}

li {
    list-style-type: none;
}

.stylebutton {
    border-radius: 10px;
    background-color: var(--neutral_two);
}

/* Specific to this page*/

main {
    padding: 10px;

    font-size: 1.25em;


}

.ai_text {
    background-color: white;

    border-radius: 10px;

    text-align: center;
}

.text-box {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-color: #f9f9f9;

    align-self: end;
}

.header {
    background-color: var(--primary_one);
    color: var(--neutral_one);
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.content {
    display: block;
    margin-top: 10px;
}

.minimized .content {
    display: none;
}