:root{
    --background: #142624;
    --primary_one: #A6783F;
    --primary_two: #8C7968;
    --neutral_one: #592C1C;
    --neutral_two: #8C4B45;
    --total_black: #000000;
}


@keyframes fade {
    0% {opacity: 0%; translate: 0 100px;}
    100% {opacity: 100%; translate: 0 0;}
}

@-webkit-keyframes fade {
    0% {opacity: 50%;}
    100% {opacity: 100%;}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

* {
    margin: auto;
    font-family:Verdana, sans-serif
}

/* Specific to this page*/
body {
    background: linear-gradient(90deg, var(--neutral_one), var(--neutral_two));
    animation: gradient 2s infinite;

    padding: 50px;
}


.front-photo {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;

    filter: grayscale(100%);

    opacity: 60%;

    border-radius: 50%;
}

.full_page{
    display: grid;
}

.howdy {
    font-family: Snell Roundhand, cursive;

    font-size: 3em;

    text-align: center;

    color: var(--primary_one);

    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    animation: fade 2s;
}

ul {
    list-style-type: none;

    padding: 5%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px, 50px;
}

a {
    text-decoration: none;
    color: var(--primary_one);
}

li {
    font-size: 1.75em;
    border-radius: 10px;

}

button {
    border-radius: 10px;
    font-size: 1.75em;
    color: var(--primary_one);
    border: none;
    background: none;
}

.emoji {
    display: none;
}

