:root{
    --background: #142624;
    --primary_one: #A6783F;
    --primary_two: #8C7968;
    --neutral_one: #592C1C;
    --neutral_two: #8C4B45;
    --total_black: #000000;
}


@keyframes fade {
    0% {opacity: 0%; translate: 0 100px;}
    100% {opacity: 100%; translate: 0 0;}
}

@-webkit-keyframes fade {
    0% {opacity: 50%;}
    100% {opacity: 100%;}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: auto;
    font-family:Verdana, sans-serif
}

header {
    background-color: var(--neutral_one);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
}

body {
    background-color: var(--neutral_two);

    min-height: 100%;
    position: absolute;
}

.title {
    font-size: 2.5em;
    color: var(--primary_one);

    font-family:Georgia, 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
    color: var(--primary_one);
    opacity: 50%;

    font-size: 1.5em;
}

a:hover {
    opacity: 100%;
}

li {
    list-style-type: none;
}

.stylebutton {
    border-radius: 10px;
    background-color: var(--neutral_two);
}

body{
    display: grid;

    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
}

/* Specific to this page*/

.images {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;

    border-radius: 10px;

    align-self: center;
}

.service_title {
    font-size: 2.5em;
    grid-column: 1;
    grid-row: 1;

    font-family:Georgia, 'Times New Roman', Times, serif;

    color: var(--primary_one);
}

.desc {
    font-size: 1em;
    grid-column: 1;
    grid-row: 2;

    padding: 20px;
}

.text_box {
    text-align: center;
    padding: 5px;
}